<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="/layout/Layout::layout(~{::section})"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>

</head>
<body>

<!--  Main Content  -->
<section class="grid grid-cols-12 px-5 py-5 bg-gray-300 justify-between h-full">
    <div class="grid grid-cols-12 col-span-12">
        <!-- Left Section -->
        <div class="col-span-7 px-2">
            <div class="bg-blue-200 px-2 rounded-md">
                <h1 class="my-3 mr-10 text-3xl  text-blue-900 leading-normal uppercase font-medium	">
                    <span class="mdi mdi-home text-gray-950"></span>
                    <span th:text="${property.title}"></span>
                </h1>
            </div>
            <!-- slider carousel-->
            <div class="carousel w-full" style="max-height: 600px">
                <div id="slide1" class="carousel-item relative w-full">
                    <img th:src=" '/uploads/' + ${property.thumbnail}" class="w-full">
                    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                        <a href="#slide4" class="btn btn-circle">❮</a>
                        <a href="#slide2" class="btn btn-circle">❯</a>
                    </div>
                </div>
                <div id="slide2"
                     th:each="image : ${property.images}"
                     class="carousel-item relative w-full transition-transform duration-500 ease-in-out">
                    <img th:src=" '/uploads/' + ${image.getPath()}"
                         class="w-full">
                    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                        <a href="#slide1" class="btn btn-circle">❮</a>
                        <a href="#slide3" class="btn btn-circle">❯</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Left Section -->

        <!-- Right Section -->
        <div class="col-span-4 px-2">
            <div class="container mx-auto">
                <section class="my-3 p-2 shadow-gray-500 rounded bg-gray-50">
                    <strong class="text-gray-950 block underline">Description</strong>
                    <span class="text-gray-800" th:text="${property.description}"></span>
                </section>
                <table class="min-w-full divide-y text-gray-950 divide-gray-200">
                    <thead class="">
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="mdi mdi-relative-scale"></span>
                            Total Area
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap"><span th:text="${property.sqft}"></span><sup>sqft</sup>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <strong class="mdi mdi-balcony"></strong>
                            Balconies
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${property.balconies}">123.00 m<sup>2</sup>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="mdi mdi-garage"></span>
                            Garages
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${property.garages}">10.5 x 13.0 m</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="mdi mdi-bed-clock"></span>
                            Bedrooms
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${property.bedrooms}">20-25 days</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="mdi mdi-bathtub"></span>
                            Bathrooms
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${property.getBathrooms()}">20-25 days</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="mdi mdi-balcony"></span>
                            Location
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${property.location}">
                            20-25 days
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="bg-gray-100 px-10 py-3 text-center my-4">
                    <p>Estimated Price</p>
                    <h1 class="text-4xl text-gray-700">RUB <span th:text="${property.price}"></span><sup>₽</sup></h1>
                </div>
                <div>
                    <button class="py-5 mt-5 px-10 w-full text-white bg-blue-400">
                        <h1>TO GET A CONSULTATION</h1>
                    </button>
                </div>
            </div>
        </div>
        <!-- End Right Section -->
        <script>
			const tabs = document.querySelectorAll('.tabs');
			tabs.forEach(tab => {
				tab.addEventListener('click', e => {
					if (e.target.tagName === 'A') {
						// Remove 'active' class from all tabs
						tabs.forEach(tab => {
							tab.querySelectorAll('a').forEach(link => {
								link.classList.remove('active');
							});
						});

						// Add 'active' class to the clicked tab
						e.target.classList.add('active');

						const target = e.target.getAttribute('href').substr(1);
						const contents = document.querySelectorAll('.content');
						contents.forEach(content => {
							if (content.getAttribute('id') === target) {
								content.classList.remove('hidden');
							} else {
								content.classList.add('hidden');
							}
						});
					}
				});
			});

        </script>
    </div>
    <div class="col-span-12">

    </div>
</section>
<!-- End Main Content  -->


</body>
</html>
