<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:replace="/dashboard/layout/DashboardLayout::layout(~{::section})">

<head>
    <title>Show Category</title>
</head>
<body>


<!--  Main Content  -->
<section class="grid grid-cols-4 md:grid-cols-1 xl:grid-cols-1 p-8 m-5" style="margin-left: 480px">
    <div class="bg-white rounded rounded-l p-3 ">
        <ul>
            <li>
                <strong>Name : </strong> <small th:text="${category.name}"></small>
            </li>
            <li>
                <strong> Created At : </strong> <small th:text="${category.getCreatedAt()}"></small>
            </li>
        </ul>
    </div>
</section>
<!-- End Main Content  -->


</body>
</html>
