<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<nav th:fragment="topbar" id="topbar" class="bg-blue-700 w-full fixed flex justify-between align-middle top-0 z-50 justify-items-end" aria-label="Sidebar">
    <div style="width: 380px" class="inline-block bg-gray-900 px-5 py-5 text-white text-center">
        <a href="/" class="w-full h-full block">Home</a>
    </div>
    <div class="right flex mt-5 mr-5 align-baseline justify-around">
        <div class="mr-8">
            <form class="p-0 m-0" method="get" action="/property/search">
                <input type="text" class="rounded-md p-0 px-2" placeholder="Search Property" name="propertyName" id="search-property-input">
            </form>
        </div>
        <div class="ml-8 mr-5">
            <form class="p-0 m-0" method="post" action="/logout">
                <button type="submit" class="btn bg-blue-900 px-2 rounded-md text-white">
                    Logout
                </button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>