<!doctype html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="/dashboard/layout/DashboardLayout::layout(~{::section})"
>

<head>
</head>
<body>



<aside th:replace="dashboard/layout/sidebar::sidebar"></aside>

<!--  Main Content  -->
<section class="grid grid-cols-1 md:grid-cols-1 xl:grid-cols-1 p-8 m-5" style="margin-left: 480px">
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                <th scope="col" class="px-6 py-3">
                    #
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"  th:each="company : ${companyList}">
                <th th:text="${company.id}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                </th>
                <th th:text="${company.title}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                </th>
                <td th:text="${company.phone}" class="px-6 py-4">
                </td>
                <td th:text="${company.email}" class="px-6 py-4">
                </td>
                <td th:text="${company.address.getFullAddress()}" class="px-6 py-4">
                </td>
                <td class="px-6 py-4">
                    <a th:href="${'/admin/property/' + company.id}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        View
                    </a>
                    <a class="text-white bg-amber-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 me-2 mb-2 dark:bg-red-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Delete
                    </a>
                    <a class="text-black bg-amber-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 me-2 mb-2 dark:bg-amber-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!--  Pagination  -->
    <nav aria-label="Page navigation example mt-5">
        <ul class="inline-flex items-center justify-center px-4 py-2 bg-white border rounded-md">
            <li class="" th:if="${currentPage > 1 }">
                <a href="/admin/property" class="px-2 py-1 text-sm font-medium text-gray-500 hover:text-gray-700">Previous</a></li>

            <li th:classappend="${currentPage == page} ? 'disabled'" th:each="page : ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage + 2 < totalPages ? currentPage + 2 : totalPages) )}">
                <a
                    th:text="${page}"
                    th:href="${'/admin/property?page=' + page + '&size=' + pageSize }"
                    class="px-2 py-1 text-sm font-medium text-gray-700 hover:text-blue-500">
                </a>
            </li>

            <li>
                <a
                    th:href="${'/admin/property?page=' + totalPages }"
                    class="px-2 py-1 text-sm font-medium text-gray-700 hover:text-gray-700"
                    th:classappend="${currentPage == totalPages} ? 'disabled'"
                >
                        Next
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Pagination  -->

</section>
<!-- End Main Content  -->


</body>
</html>
